<div class="cube">
        <img class="cube" src="{{imgPath}}">
        <p class="name">{{name}}</p>
        <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
        <p>Likes : {{likes.length}}</p>
        <a class="btn" href="/cube/details/{{_id}}">Details</a>
        <a class="btn" href="/cube/like/{{_id}}">Like</a>
      </div>